<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>CadUsuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label position="floating"></ion-label>
    <ion-input placehoulder="" type="text"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating"></ion-label>
    <ion-input placehoulder="" type="text"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating"></ion-label>
    <ion-input placehoulder="" type="text"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating"></ion-label>
    <ion-input placehoulder="" type="text"></ion-input>
  </ion-item>
</ion-content>
