<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <ion-item lines="inset">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.username"></ion-input>
    </ion-item>
    <ion-item lines="inset">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.password"></ion-input>
    </ion-item>
    <ion-button expand="block" color="primary" (click)="logar()">
      Logar
    </ion-button>
    <ion-button expand="block" color="danger">
      Sair
    </ion-button>
  </div>
</ion-content>
