#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #d18034f5;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-title{
  font-family: "DejaVu Sans Mono" !important;
  text-align: center;
  font-weight: bold;
}

ion-button{
  font-family: "Andale Mono" !important;
  --background: rgb(28,28,28);
}