<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BUUU BOOKS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="full" *ngFor="let rota of rotas" [routerLink]="rota.path">
    {{ rota.text }}
  </ion-button>
</ion-content>
