<ion-header>
  <ion-toolbar>
    <ion-title>Usuários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="inset" *ngFor="let usuario of usuarios">
    <ion-label>{{ usuario.username }}</ion-label>
  </ion-item>
</ion-content>
