<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cad Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="inset">
    <ion-label position="floating">Nome</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.nome"></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="floating">Telefone</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.telefone"></ion-input>
  </ion-item>
  <ion-label position="floating">Username</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.username"></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
  </ion-item>
  <ion-button expand="block" color="primary" (click)="salvar()">
    Salvar
  </ion-button>
  <ion-button expand="block" color="danger">
    Cancelar
  </ion-button>
</ion-content>
